<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>
    <h3 class="section">Customers View</h3>
    <table class="dbcontent center">
        <thead>
        <tr>
            <th class="number"></th>
            <th class="customers">Name</th>
            <th class="street">Street</th>
            <th class="zipcode">Zip code</th>
            <th class="city">City</th>
            <th class="action"></th>
        </tr>
        </thead>
        <tr wicket:id="customers">
            <td wicket:id="num" class="number">1</td>
            <td wicket:id="name" class="customers">John Wayne</td>
            <td wicket:id="street" class="street">Penny Lane</td>
            <td wicket:id="zip" class="zipcode">1234</td>
            <td wicket:id="city" class="city">Ney York</td>
            <td class="action"><a href="#" wicket:id="delete">delete</a></td>
        </tr>
    </table>
    <div wicket:id="navigator" class="navigator"></div>
</wicket:extend>
</body>
</html>