<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Cheesr - Making cheese taste beta</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
<div wicket:id="head"></div>
<div class="content">
    <div class="leftpanel">
        <h3 class="panel">Profile Data</h3>

        <div wicket:id="profile"></div>
        <!--<div wicket:id="editProfile"></div>
        <div wicket:id="changePassword"></div>-->
    </div>
    <div class="rightpanel">
        <h3 class="panel">Purchases history</h3>

        <div wicket:id="purchases"></div>
    </div>
</div>
</body>
</html>