<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Cheesr - Making cheese taste beta</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
<div wicket:id="head"></div>
<div class="content">
    <h3 class="section">Profile View</h3>
    <table class="dbcontent">
        <tr class="odd">
            <td>Name</td>
            <td>John Wayne</td>
        </tr>
        <tr class="even">
            <td>Street</td>
            <td>Penny Lane</td>
        </tr>
        <tr class="odd">
            <td>Zip code</td>
            <td>1234</td>
        </tr>
        <tr class="even">
            <td>City</td>
            <td>New York</td>
        </tr>
    </table>
</div>
</body>
</html>