<!DOCTYPE html>
<html xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/new_styles.css"/>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<wicket:panel>
    <table class="counter">
        <tr>
            <td class="button">
                <a wicket:id="decLink" href="#" title="-1">
                    <i class="fa fa-minus-circle"></i>
                </a>
            </td>
            <td class="full">
                <span wicket:id="quantity"></span>
            </td>
            <td class="button">
                <a wicket:id="incLink" href="#" title="+1">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </td>
        </tr>
    </table>
</wicket:panel>

</body>
</html>