/* Comments */
div.commentspanel {
    font-size: 13px;
}

div.comment {
    background-color: #F8ECE0;
    width: 250px;
    padding: 5px;
}

div.timestamp {
    margin-left: 10px;
}

span.author {
    font-weight: bold;
    color: maroon;
}

div.leave {
    font-weight: bold;
}

input.comment {
    width: 200px;
}