
.container {
    max-width: 960px;
}

label {
    text-align: right;
}

h3 {
    margin-bottom: 25px;
}

div.cheese {
    margin-bottom: 25px;
}

div.cheese div {
    margin-bottom: 10px;
}

.price {
    font-weight: 700;
}

table.cart {
    width: 100%;
    max-width: 360px;
    margin-bottom: 0;
}

td.cheese-name {
    width: 50%;
}

table.counter {
    width: 80px;
    background: white;
    border: 1px solid #ddd;
}

td.button {
    width: 20px;
    text-align: center;
}

td.full {
    text-align: center;
}
