body {
	margin: 0; padding: 0;
	font-family: georgia, times, serif;
	font-size: 15px;
}

div {
	border: 0px solid;
}

div.userid, .header, .menu, .content {
	margin-left:auto;
	margin-right:auto;
	width:920px;
}

div.userid {
	text-align: right;
}

div.header {
	height: 150px;
	background: url(logo.png) center no-repeat;
}

div.menu {
	background-color: maroon;
}

div.leftpanel {
	float: left;
	margin-left: 50px;
}

div.rightpanel {
	float: right;
	margin-right: 50px;
}

div.checkout {
	text-align: center;
}

h3.cart {
	padding-left: 25px;	
}

h3.section {
	padding-left: 100px;
	color: #5C0000;
}

table {
	border-collapse:collapse;	
}

table.center {
	margin-left:auto;
	margin-right:auto;	
}



/* Menu */

tr.menu td {
	width:100px;
	text-align:center;	
}

tr.menu td a {
	color: white;	
}


/* Database content */

table.dbcontent {
	border-collapse:collapse;
}

table.dbcontent, table.dbcontent th, table.dbcontent td {
	border: 1px solid maroon;
}

table.dbcontent th {
	background-color: maroon;
	color:white;
}

tr.even td{
	background-color: #F5D0A9; 
}

tr.odd td{
	background-color: #F8ECE0;
}

table.dbcontent tfoot.foot td {
	background-color: #B81212;
	color:white;
}

table.dbcontent thead th.number {
	width: 20px;
}

td.users { /* Login page */
	text-align: center;
}



/* Shopping cart */

table.cart, table.cart td, table.cart th {
	border: 0px solid black;
}

td.cheesename, th.cheesename {
	width: 85px;
}

td.cheeseprice, th.cheeseprice{
	width:60px;
	text-align: center;	
}

th.total {
	width:90px;
}

td.remove, th.remove {
	width: 60px;
	text-align: center;
}



/* Links */

a:link {color:maroon;}		/* unvisited link */

a:visited {color:maroon;}	/* visited link */

a:hover {			/* mouse over link */
	color:red;
	text-decoration: none;
}   

a:active {	/* selected link */
	color:yellow;
}	
