body {
	margin: 0; padding: 0;
	font-family: georgia, times, serif;
	font-size: 15px;
}

div {
	border: 0px solid;
}

div.userid, .header, .menu, .content {
	margin-left:auto;
	margin-right:auto;
	width:920px;
}

div.userid {
	text-align: right;
}

div.header {
	height: 150px;
	background: url(logo.png) center no-repeat;
}

div.menu {
	background-color: maroon;
}

div.leftpanel {
	float: left;
	margin-left: 50px;
}

div.rightpanel {
	float: right;
	margin-right: 50px;
}

div.navigator {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

div.making {
	margin-left:auto;
	margin-right:auto;
	width: 870px;
	padding-left: 50px;
	background-color: maroon;
	color: white;
	font-style:italic;
}

div.signup {
	/* HTML5? */
	text-align: center;

}

div.left50 {
	margin-right: 50px;
}

div.right50 {
	margin-left: 50px;
}

div.checkout {
	text-align: center;
}

h3.section {
	padding-left: 100px;
	color: #5C0000;
}

h3.panel {
	padding-left: 50px;
	color: #5C0000;
}

table {
	border-collapse:collapse;	
}

table.center {
	margin-left:auto;
	margin-right:auto;	
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}


/* Login / Signup */

span.red {
	color: red;
}

/* Menu */

tr.menu td {
	width:100px;
	text-align:center;	
}

tr.menu td a {
	color: white;	
}


/* Database content */

table.dbcontent {
	border-collapse:collapse;
}

table.dbcontent, table.dbcontent th, table.dbcontent td {
	border: 1px solid maroon;
}

table.dbcontent th {
	background-color: maroon;
	color:white;
}

tr.even td{
	background-color: #F5D0A9; 
}

tr.odd td{
	background-color: #F8ECE0;
}

table.dbcontent tfoot td {
	background-color: #B81212;
	color:white;
}

table.dbcontent tfoot a {
	color:white;
}


th.number, td.number {  /* table.dbcontent thead */
	width: 20px;
	text-align: center;
}


th.description, td.description {
	padding-left: 5px;
}

th.action, td.action {
	width: 60px;
}

td.action {
	text-align: center;
}

th.quantity, td.quantity {
	width: 60px;
}

td.quantity {
	text-align: center;
}

td.totalcost {
	text-align: right;
	padding-right: 10px;
}

span.totalcost {
	font-weight: bold;
}

th.users, td.users { /* Login page */
	width: 160px;
	text-align: center;
}

th.customers, td.customers {
	width: 140px;
	padding-left: 5px;	
}

th.street, td.street {
	width: 120px;
	padding-left: 5px;
}

th.zipcode, td.zipcode {
	width: 80px;
}

td.zipcode {
	text-align: center;
}

th.city, td.city {
	width: 100px;
	padding-left: 5px;
}

td.title { /* checkout */
	width: 75px;
	text-align: right;
	padding-right:5px;
	font-weight: bold;
}

td.widetitle {
	width: 150px;
	text-align: right;
	padding-right:5px;
	font-weight: bold;
}

td.userdata {
	padding-left:5px;
	width: 125px;
}

td.mediumuserdata {
    padding-left:5px;
    width: 175px;
}

td.wideuserdata {
	padding-left:5px;
	width: 220px;
}

div.monospace {
	font-family: Monospace, "Courier New", sans-serif;
}

div.purchase {
	padding-left: 200px;
}

div.customer {
	font-weight: bold;
}

span.deleted {
	font-weight: normal;
	font-style:italic;
}


/* Shopping cart */

td.cheesename, th.cheesename {
	width: 90px;
	padding-left: 5px;
}

td.cheeseprice, th.cheeseprice{
	width:60px;
	text-align: center;	
}

th.total {
	width:90px;
}

td.remove, th.remove {
	width: 60px;
	text-align: center;
}

td.counter {
	width: 40px;
	text-align: center;
}


/* Counter buttons */

a.counter:link {		/* unvisited link */
	color: maroon;
	text-decoration: none;
}

a.counter:hover {		/* mouse over link */
	color: red;
	text-decoration: none;
}  

a.counter:visited		{/* visited link */
	color: maroon;
	text-decoration: none;
}

a.counter:active		{/* selected link */
	color: red;
	text-decoration: none;
}

div.counterbutton {
	width: 20px;
	background-color: #F8ECE0;
	border: 1px solid black;
	text-align: center;
}

div.counterbutton:hover {
	background-color: #F5D0A9;
}


/* Links */

a:link {color:maroon;}		/* unvisited link */

a:visited {color:maroon;}	/* visited link */

a:hover {			/* mouse over link */
	color:red;
	text-decoration: none;
}   

a:active {	/* selected link */
	color:yellow;
}