body {
	margin: 0; padding: 0;
	font-family: georgia, times, serif;
	font-size: 15px;
}

div {
	border: 1px solid;
}

div.header {
	margin-left:auto;
	margin-right:auto;
	width:920px;

	height: 150px;
	background: url(logo.png) center no-repeat;
}


div.content{
	margin-left:auto;
	margin-right:auto;
	width:920px;
}

h3.section {
	padding-left: 100px;
	color: #5C0000;
}

div.center {
	margin-left:auto;
	margin-right:auto;	
	/*text-align: center;*/

}

table.dbcontent {
	border-collapse:collapse;
}

table.dbcontent, table.dbcontent th, table.dbcontent td {
	border: 1px solid maroon;
}e.dbcontent td {
	border: 1px solid maroon;
}